<!DOCTYPE html>
<html class="flex-layout">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
		<title>阳光保险广西分公司</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/myStyle.css">
		<script src="js/global.js"></script>
		
	</head>
	
	<body style="background: #eef1f5; overflow: hidden; width: 100%;">
		<div class="flex">
			<div class="body">
				<div class="infoForm">
					<div class="companyName">
						<div class="cultureImg"><img src="images/culture.png"/></div>
						<p>阳光人寿保险股份有限公司广西分公司</p>
						<span class="line"></span>
					</div>
					<form action="">
						<div class="unit">
							<div class="headName"><span></span>机 构<span></span></div>
							<select name="" class="address">
								<option value="南宁">南宁</option>
								<option value="柳州">柳州</option>
								<option value="桂林">桂林</option>
								<option value="玉林">玉林</option>
								<option value="梧州">梧州</option>
								<option value="河池">河池</option>
								<option value="百色">百色</option>
								<option value="北海">北海</option>
							</select>
						</div>
						<div class="unit">
							<div class="headName"><span></span>姓名<span></span></div>
							<input type="text" />
						</div>
						<div class="unit">
							<div class="headName"><span></span>认领保费 <i>(万元)</i><span></span></div>
							<input type="number" />
						</div>
						<a class="submitBtn" href="#">提 交</a>
					</form>
				</div>
			</div>
		</div>
	</body>

</html>